<div class="container">
    <div class="row">
        <div class="col-md-12 copyright">
            <ul>
                <li>
                    <a href="https://vsco.co/berkantkz"><img src="https://upload.wikimedia.org/wikipedia/commons/3/32/VSCO_Seal.svg" class="svg" alt=""> vsco</a>
                </li>
                <li>
                    <a href="https://twitter.com/berkantkz_"><img src="https://raw.githubusercontent.com/johan/svg-cleanups/master/logos/twitter.svg" class="svg" alt=""> twitter</a>
                </li>
                <li>
                    <a href="https://instagram.com/berkantkz"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Instagram_font_awesome.svg" class="svg" alt=""> instagram</a>
                </li>
            </ul>
            <p style="opacity: .7;">github pages aracılığıyla yayımlanmaktadır: <a href="https://github.com/berkantkz/berkantkz.github.io" target="_blank" class="glow">berkantkz.live</a></p>
        </div>
    </div>
</div>
