<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
</head>

<body id="single" class="postpage">
	<div class="container">
		<header id="site-header">
			{% include header.html %}
		</header>
	</div>

	<div class="content-body" markdown="1">
		<div class="container">
			<div class="row">
				<main class="col-md-8">
					<article class="post">
						<header class="entry-header">
							<div>
								<h1 class="entry-title">{{ page.title }}</h1>
								<div class="entry-meta">
									<span class="post-date" style="color: #000">oluşturma: <a><time class="entry-date"
												datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time></a></span>
									{% if page.editdate %}
									<span class="post-date" style="color: #000">düzenleme: <a><time class="entry-date"
												datetime="{{ page.editdate | date_to_xmlschema }}">{{ page.editdate }}</time></a></span>
									{% endif %}
									{% if page.category %}
									{% for category in page.category %}
									<span class="post-category">
										<a href="#">{{ category }}</a>
									</span>
									{% endfor %}
									{% endif %}
									<!-- <span class="post-author"><a href="#">Albert Einstein</a></span> 

									<span class="comments-link"><a href="#">4 Comments</a></span> -->
								</div>
							</div>
							{% if page.song %}
							<iframe src="https://open.spotify.com/embed/track/{{ page.song }}" width="300" height="80"
								frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
							{% endif %}
						</header>
						<div class="entry-content clearfix">
							{{ content }}
						</div>
					</article>
				</main>
				<aside class="col-md-4">
					{% include right_section.html %}
				</aside>
			</div>
		</div>
	</div>
	<footer id="site-footer">
		{% include footer.html %}
	</footer>

	<!-- Mobile Menu -->
	{% include mobile_menu.html %}

	<script src="/js/script.js"></script>

</body>

</html>